html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.centered {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.container {
	min-width: 960px;
  	min-height: 400px;
}